@import './components/variables.css';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: $fluidFontSize;
  line-height: 1.5;
  hyphens: auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1 {font-size: 2.5em;}
h2 {font-size: 2em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.25em;}
small {font-size: .75em;}

h1, h2, h3, h4 {
    margin: .5rem 0 1.5rem;
    font-weight: 700;
    line-height: 1.25;
}
p {
    margin-bottom: 1.5rem;
    line-height: 1.5;
}
a {
  text-decoration: none;
}

// screen reader friendly
.clip {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}