$light-grey: #D8DBDB;
$dark-grey: #A7A7A7;
$green: #8E9E3A;
$darkest-green: #413C2F;

/* RESPONSIVE TYPOGRAPHY VALUES, SPECIFY WITHOUT PX
   https://www.smashingmagazine.com/2016/05/fluid-typography/ */
$minFontVal: 16;
$maxFontVal: 24;
$minViewportVal: 480;
$maxViewportVal: 1400;

$minFontSize: $(minFontVal)px;
$maxFontSize: $(maxFontVal)px;
$minViewportSize: $(minViewportVal)px;
$maxViewportSize: $(maxViewportVal)px;

$fluidFontSize: calc($minFontSize + ($maxFontVal - $minFontVal) * (100vw - $minViewportSize) / ($maxViewportVal - $minViewportVal));