@import '../../styles/variables.css';

.park-link {

  border: 2px solid $light-grey;
  height: 100%;
  border-radius: 3px, 3px, 0px, 0px;
  display: block;
  margin-bottom: 1rem;
  &:hover {
    transform: scale(1.02);
  }
}

#park-list {
  margin: 0 1rem;
}

.park {
  height: 100%;
  padding: 1rem;
  
  h2{
    margin-left: 4%;
    margin-top: 2%;
    color: $light-grey;
  }
  
  h3{
    color: $green;
    text-decoration: underline;
    margin-bottom: 10px;
  }
  
  img{
    margin-bottom: 10px;
    border-radius: 5px;
    max-height: 50vh;
  }
  
  p{
    color: $darkest-green;
    margin-bottom: 10px;
  }

}

@media (min-width: 700px) {
  #park-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
  }
  .park-link {
    margin-bottom: 0;
  }

  .park {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.slide-up-appear {
  opacity: 0;
  transform: translateY(30px);
  transition: all .5s ease;
  
}
.slide-up-appear-active {
  opacity: 1;
  transform: translateY(0px);
}