@import '../../styles/variables.css';

#header {
  img {
    display: inline-block;
    max-width: 1.3em;
  }
  h1{
    font-size: 1.7em;
    color: green;
  }
  background-color: rgba(245, 245, 245, 0.85);
  width: 100%;
  // position: fixed;
  margin: 0 auto;
}