@import '../../styles/variables.css';

#header {
  padding: 1rem;

  .top-header {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    display: inline-block;
    width: 50px;
  }
  h1{
    font-size: 1.7em;
    color: $green;
  }
  a {
    text-decoration: none;
    color: $darkest-green;
  }
  .header-search {
    width: 100%;
  }
  .user-links {
    text-align: right;
  }
  .user-header {
    .userName {
      display: none;
    }
    img {
      width: 40px;
    }

  }
}

@media (min-width: 700px) {
  #header {
    .user-header {
      .userName {
        display: inline;
        vertical-align: bottom;
      }
      img {
        display: inline-block;
      }
    }
    h1 {
      font-size: 3rem;
    }

  }
}
