@import '../../styles/variables.css';

.search-form {
  
  input.form-control {
    margin: 0.5rem auto;
    text-align: center;    
  }
  
  .btn-default {
    width: 47%;
    margin: 0 auto;
    line-height: 1;
  }
  
  button#location{
    margin-left: 6%;
  }

  .active {
    color: $green;
    border: solid .1rem $green;
  }
  
  .search-form-button {
    width: 100%;
  }
  
  .btn.btn-default{
    line-height: 1;
    background-color: whitesmoke;
  }
}