form.form-horizontal{
  width: 100%;
}

input.form-control{
  width: 80%;
  margin: 0.5em auto;
}

div.keyword-location{
  width: 80%;
  margin: 0 auto;
}

.btn-default{
  width: 47%;
  margin: 0 auto;
  line-height: 1;
}

button#location{
  margin-left: 6%;
}

button#search{
  width: 80%;
  margin: 0 10%;
}

.btn.btn-default{
  line-height: 1;
  background-color: whitesmoke;
  border: 1px solid white;
}

div.navbar-header{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

form.form-horizontal {
  margin-top: 5%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 3%;
  width: 100%;
  margin: 0 auto;
}

.navbar-brand{
  margin-right: 0 !important;
}